File>Import, "HDF5...", ch.psi.imageJ.hdf5.HDF5_Reader_
File>Save As, "HDF5", ch.psi.imageJ.hdf5.HDF5_Writer_
Plugins>HDF5, "Load HDF5 File", ch.psi.imageJ.hdf5.HDF5_Reader_
Plugins>HDF5, "Save HDF5 File", ch.psi.imageJ.hdf5.HDF5_Writer_
Plugins>HDF5, "HDF5 Preferences", ch.psi.imageJ.hdf5.HDF5_Config
